%p.in-gold-500.font-18= t '.order_summary'
%table.general-summary-table
  %tr
    %td
      %p.font-16= t '.item_total'
    %td
      %p.font-16 €117.69
  %tr
    %td
      %p.font-16= t '.order_total' 
    %td
      %p.font-16 €117.69
